.accounts {
	padding: 20px;

	display: flex;
	flex-flow: row nowrap;

	> .left {
		flex: 0 0 240px;

		> .options {
			border: 1px solid #AAA;

			> .account {
				padding: 20px;
				background-color: white;
				display: flex;
				flex-flow: row nowrap;

				&:not(:first-child) {
					border-top: 1px solid #AAA;
				}

				&.preDrag {
					border: 1px solid #AAA;
				}

				&.dragged {
					background-color: #DDD;
					* { visibility: hidden; }
				}

				&.active {
					background-color: #EEE;
				}

				&.hovered {
					background-color: #DDD;
				}

				> .handle {
					flex: 0 0 20px;
					margin-right: 10px;
					height: 20px;
					background: #AAA;
					cursor: move;
				}
			}
		}

		> button {
			display: block;
			margin: 10px 0;
		}
	}

	> .content {
		flex: 1 1 auto;
		padding: 0 20px;
	}
}
