.accounts {
	padding: 20px;

	display: flex;
	flex-flow: row nowrap;

	> .left {
		flex: 0 0 240px;

		> .options {
			border: 1px solid #AAA;

			> p {
				padding: 20px;
			}

			> .account {
				padding: 15px;
				background-color: white;
				display: flex;
				flex-flow: row nowrap;
				align-items: center;

				&:not(:first-child) {
					border-top: 1px solid #AAA;
				}

				&.preDrag {
					border: 1px solid #AAA;
				}

				&.dragged {
					background-color: #DDD;
					* { visibility: hidden; }
				}

				&.active {
					background-color: #EEE;
				}

				&.hovered {
					background-color: #DDD;
				}

				> .handle {
					flex: 0 0 30px;
					margin-right: 10px;
					height: 30px;
					background: #AAA;
					cursor: move;
				}
			}
		}

		> button {
			display: block;
			margin: 10px 0;
		}
	}

	> .content {
		flex: 1 1 auto;
		padding: 0 20px;
	}
}

.passwordInputBox {
	display: inline-block;
	width: 182px;
	border: 1px solid #767676;
	border-radius: 2px;

	&:focus, &:focus-within {
		outline: #E59700 auto 1px;
	}
}

input.passwordInputBox {
	font-size: 13px;
	font-family: Arial;
}

span.passwordInputBox {
	vertical-align: middle;
	line-height: 0;
	overflow-x: auto;

	> .syntheticTextBox {
		width: 100%;
	}
}
