.keyboard {
	width: 100%;

	background-color: #AAA;

	touch-action: none;

	> div {
		display: flex;
		flex-flow: row nowrap;

		> .key {
			user-select: none;
			-moz-user-select: none;
			-webkit-user-select: none;

			> div {
				margin: 3px;
				border-radius: 5px;
				background-color: #EEE;

				text-align: center;
				overflow: hidden;
				font-size: 20px;

				&.held {
					background-color: #CCC;
				}
			}
		}
	}
}
