<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<link href="data:," rel="icon">
		<title>CrypNote</title>
	</head>
	<body>
		<div id="app"></div>
		<script src="https://cdn.jsdelivr.net/gh/KaiJewson/CrypNote/latestVersion.min.js"></script>
	</body>
</html>
